name: Verify AWS Connection
on: [push]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  CheckConnection:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-southeast-2 # Sydney
      
      - name: Verify Identity
        run: aws sts get-caller-identity
